.card {
  width: 650px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 0;
  margin: 24px;
  overflow: hidden;
  /* padding-bottom: 16px; */
}

.divider {
  border-top: 1px solid #ddd;
  margin: 12px 0;
}

.img-container {
  padding: 0;
  margin-bottom: 16px;
}

.img {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
}

.vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
}