.card {
  width: 650px;
  border: 1px solid var(--cardborder);
  background-color: var(--cardbg);
  border-radius: 5px;
  padding: 0;
  margin: 24px;
  overflow: hidden;
  transition: 0.2s;
}

.divider {
  border-top: 1px solid var(--divider);
  margin: 12px 0;
  transition: 0.2s;
}

.img-container {
  padding: 0;
  margin-bottom: 16px;
}

.img {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
}

.horizontal {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
}

.vertical {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.link-ytb {
  color: rgb(25, 118, 210);
}

.link-ig {
  color: var(--link-ig);
}

.link-ytb:hover {
  background-color: rgba(25, 118, 210, 0.04);
}