body {
  display: flex;
  background-color: rgb(252, 252, 252);
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, a {
  border-radius: 5px;
  padding: 10px 15px;
  transition: 0.2s;
  cursor: pointer;
  font-size: 20px;
}

a {
  text-decoration: none;
}

p {
  color: rgba(0, 0, 0, 0.87);
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 24px;
  margin-right: 24px;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 0.18;
}

.title-text {
  font-size: 30px;
  margin-top: 16px;
  margin-bottom: 0;
}

.grey-text {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
  .card {
    max-width: 500px;
  }

  .horizontal {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    align-items: stretch;
    box-sizing: border-box;
  }

  .get-input {
    width: 100%;
    max-width: 400px;
  }

  .title-container-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn-container-mobile {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

@media (max-width: 600px) {
  .card {
    max-width: 450px;
    margin: 16px;
  }

  .get-input {
    width: 100%;
    max-width: 350px;
  }
}

@media (max-width: 480px) {
  p, button, a {
    font-size: 18px;
  }

  .title-text {
    font-size: 24px;
  }

  .get-input {
    font-size: 16px;
  }

  .card {
    max-width: 360px;
    margin: 16px;
  }

  .get-input {
    max-width: 260px;
  }
}

@media (max-width: 320px) {
  p, button, a {
    font-size: 16px;
  }

  .title-text {
    font-size: 18px;
  }

  .card {
    max-width: 300px;
    margin: 14px;
  }

  .get-input {
    max-width: 200px;
  }

  .btn-container-mobile {
    gap: 10px;
  }
}