.btn-container, .btn-container-mobile {
  margin-top: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 16px;
}

.btn-without-border {
  color: rgb(25, 118, 210);
  background-color: transparent;
  border: none;
}

.btn-without-border:hover {
  background-color: rgba(25, 118, 210, 0.04);
}

.btn-custom {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(229, 80, 80);
  border: none;
}

.btn-send {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: rgb(25, 118, 210);
}

.btn-send:hover {
  background-color: rgba(25, 118, 210, 0.04);
}

.music-img {
  margin: 24px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  display: block;
}

.title-container, .title-container-mobile {
  margin: 0;
  padding: 0;
}

.get-input {
  flex: 1;
  color: rgba(0, 0, 0, 0.87);
  width: 576px;
  min-height: 35px;
  padding: 12px;
  font-size: 20px;
  line-height: 1.5em;
  border: 1px solid rgba(0,0,0,0.23);
  border-radius: 5px;
  /* overflow: hidden; */
  resize: none;
  -webkit-font-smoothing: antialiased;
}

.get-input.expanding {
  height: auto;
}

.get-input::placeholder {
  -webkit-font-smoothing: antialiased;
}

.get-input:focus {
  outline: 0px;
  outline-offset: -1px;
}

.get-input-no-expand-container {
  margin: 24px;
}

.get-input-container {
  margin: 24px;
  display: grid;
}

.get-input-container::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}

.get-input-container > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}

.get-input-container > textarea,
.get-input-container::after {
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}
