.btn-container, .btn-container-mobile {
  margin-top: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 16px;
}

.btn-without-border {
  color: rgb(25, 118, 210);
  background-color: transparent;
  border: none;
}

.btn-without-border:hover {
  background-color: rgba(25, 118, 210, 0.04);
}

.btn-custom {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.26);
  border: none;
}

.btn-send {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: rgb(25, 118, 210);
}

.btn-send:hover {
  background-color: rgba(25, 118, 210, 0.04);
}

.music-img {
  margin: 24px;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  display: block;
}

.title-container, .title-container-mobile {
  margin: 0;
  padding: 0;
}

.title-text {
  font-size: 30px;
  margin-top: 16px;
  margin-bottom: 0;
}

.grey-text {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.6);
}

.get-input {
  flex: 1;
  height: 48px;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.87);
  padding: 10px;
  font-size: 20px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  width: 500px;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}

.get-input::placeholder {
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}

.get-input:focus {
  outline: 0px;
  outline-offset: -1px;
}

.get-input-container {
  margin: 24px;
}